.OutputPage {
  /* border: 1px solid #fff; */
  height: calc(100dvh - 21dvh);
  justify-content: flex-start !important;
  gap: 2dvh;
  padding-top: 1dvh;

  .downloadTxtImg {
    width: 43dvh;
  }

  .waitTxtImg {
    width: 35dvh;
  }

  .loader {
    margin-top: 20vw;
    width: 70vw;
  }
  .generatedImgContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5dvh;
    /* border: 2px solid red; */

    .imgWrapper {
      background: linear-gradient(to right, #42d3d3, #f24ec1);
      padding: 1vw;
      /* border: 2px solid rgb(65, 158, 79); */

      .imgContainer {
        /* border: 1px solid black; */
        width: 32dvh;
        position: relative;
        /* border: 2px solid red; */

        .videoGenerated {
          border: 2px solid #f24ec1;
          /* object-fit: cover; */
          width: 100% !important;
          /* height: auto; */
        }
        .playIcon {
          position: absolute;
          font-size: 10vw;
          color: #f24ec1;
          bottom: 0;
          right: 0;
          /* border: 2px solid rgb(65, 158, 79); */
        }
      }
    }

    .btnContainer {
      gap: 3vw;
    }
  }
}
